<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome, <%= user.username %>!</h1>
    <a style="width: 50px; text-decoration: none; margin: 10px; display: inline-block; border-radius:3px ; color: #fff; background-color: #007bff; padding: 10px " href="/logout">Logout</a>
</body>
</html>
